body{
    width: 1400px;
    margin: auto;
  }
  
  header {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top:40px;
  }
  nav {
    position: sticky;
    top: 0;
    overflow: visible;
  }
  #nav1 {
    display: flex;
    order: 3;
    justify-content: space-evenly;
    margin-top: 5px;
    z-index: 2;
    fill: white;
    
  }
  h4 {
    font-family: 'Arsenal', sans-serif;
    font-size: 16px;
    
  }
  h4 a{
    text-decoration: none;
    color: #555555;
    padding: 15px 0;
  }
  h4 a:hover{
    color: black;
    border-bottom: 1px solid black;
  }
  #section2 {
    display: flex;
    justify-content:space-between;
    margin-top: 15px;
  }
  p{
    font-family: 'Arsenal', sans-serif;
    font-size: 16px;
    margin-top:50px;
    line-height: 1.5;
  
  }
  h2 {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 24px;
  }

  li{
    font-family: 'Arsenal', sans-serif;
    font-size: 16px;
    margin-top:10px;
  }
  
  


  
  .img {
    width: 600px;
  }
  .border-top{
      border-bottom: 2px solid black;
      margin-top: 15px;
  }
  .border-bottom{
      border-bottom:solid 1px black; 
      margin-top: 15px;
  }
  .border-topt{
    border-top: solid 1px black;
    margin-top: 10px;
  }

  .grey-background{
    background-color: #dddddd;
    border-style: opaque;
    
    padding: 80px 40px 40px 40px;
  }
  
  ul3{
      list-style-type: none;
      margin: 0px;
      padding: 0px;
  }
  .h5 a{
    font-family: 'Lexend Tera', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #555555;
  }
  .h5 a:hover{
    color: black;
  }
  img {
    display: block;
    max-width: 100%;
  }
  /* CAROUSEL */
  .wrapper {
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
  }
  
  .gallery {
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .gallery__img {
    scroll-snap-align: start;
    margin-bottom: 10px;
    min-height: 100vh;
    object-fit: cover;
  }
  
  .lil-nav {
    overflow-y: scroll;
    overflow-x: hidden;
  
   
  }
  
  .lil-nav__img {
    object-fit: cover;
    filter: saturate(0);
    transition: 0.3s ease all;
  
    
  }
/* CAROUSEL */