body {
    width: 1300px;
    margin: auto;
    font-family: 'Playfair Display', serif;
}
.pline {
    border-color: rgb(224, 34, 193);
      border-width: 10px;
      border-style: solid;
      margin-top: 15px;

}
section{
    margin: auto;
}
header {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: white;
    text-align: center;
    margin-top:40px;
    display: flex;
    order: 5;
    justify-content: space-evenly;
    margin-top: 5px;
    background-color: black;
    border-style: opaque;
  }
  
.head {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    display: flex;
    order: 5;
    justify-content: space-evenly;
    margin-top: 5px;
}
.head a{
        text-decoration: none;
        color: #555555;
      }
.head a:hover{
        color: black;
      }







table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
table {
    border-spacing: 5px;
    margin: auto;

}